* {
  box-sizing: border-box;
}
.record {
  border: 2px solid orangered;
  width: 250px;
  height: 350px;
  /* text-align: center; */
  margin-top: 20px;
  padding: 20px;
  
}

.records {
  display: flex;
  justify-content: space-evenly;

}

span { 
  color: purple;
  font-weight: bold;

}
